* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
 //border: 1px solid red;
}

.stdheader {
    z-index: 2;
    border: 1px solid blue;
    position: sticky;
    top: 0;
    background-image: url("images.jpeg");
    background-size: contain;
    background-position: center;
}

.speaker:hover .orig {
    display: none;
}

.non-speaker:hover .reg {
    display: inline;
    background-color: pink;
}

.non-speaker:hover .orig {
    display: none;
}
.speaker{
    padding-top: 1rem;
}

.speaker:hover .reg {
    background-color: pink;
    display: block;
    width: min-content;
}
.note-parent{
    position: relative;

}
.note-parent:hover .note-box{
    display: block;
}
.note-box{
    position: absolute;
    right: 0;
    top: 25%;
    display: none;
    padding: 1rem;
    width: 15rem;
    //max-width: 10rem;
    background-color: tan;



}
.note {
    padding: 2px;
    margin-left: 4px;
    background-color:  tan;
    border-radius: 1px;
    border: 1px solid rebeccapurple;
}
.note i{
    color :pink;
}
.reg {
    display: none;
}

.header-spacing {
    padding: 2rem;
}

.maintitle {
    padding: 1rem;
    background-color: rgba(210, 203, 203, 0.52);
    width: fit-content;
    text-align: center;
    margin: auto;
    //text-shadow: 0 0 3px white;
    height: 100%;
    border: 1px rebeccapurple solid;
    font-size: 5vw;
    min-width: 2rem;
    color: rebeccapurple;
}


.common-background {
    padding: 4rem;
    background-color: #e5e0e0;

    border: 1px darkblue solid;
}

.index-stye {

    margin-top: 3rem;
    /*margin-bottom: 3rem ;*/
    padding: 4rem;
    background-color: #e5e0e0;

    border: 1px darkblue solid;

}
.important-notes-title{
    text-align: center;
    text-transform: uppercase;
}

.important-notes{

    padding-top: 1rem;
}
.important-notes * {
    padding-top: .3rem;

}
.parent-article {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}
#links-intro-cousin{
    color: darkblue;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.links-style p, .links-style a{
    color: darkblue;
    font-size: 1.5rem;


}
.links-style a{
   display: inline-block;
    text-overflow: inherit;

}
.links-style div{
    padding-bottom: .5rem;
}

body {
    background-color: #b6e5e5;
}
.archive-photo img{
    width: 30rem;

}


.toc_body li {
    list-style: none;
}
.parent-citation-image div{
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
}


.citation-image img{
    width: inherit;
}


.intro {
    color: rebeccapurple;
    font-size: 2rem;
    text-align: center;
    margin: auto;
    padding: 0 1rem 1rem;
}

.intro-sibling {
    color: rebeccapurple;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.editorial-intro {
    color: darkblue;
    font-size: 1.5rem;
}

.editorial-intro p {
    margin: 2rem 0;
}

.parent-image {
    width: max-content;
    /*border: darkred 1px solid;*/
    float: right;
    margin: 2rem;
    position: relative;
}
.parent-image:hover .tooltip {
    visibility: visible;
}
.parent-citation-image{
    display: flex;
    margin: auto;
    justify-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    align-self: center;
    //background-color: deeppink;
}

.tooltip {
    background-color: white;
    padding: 3px;
    position: absolute;
    z-index: 1;
    text-align: center;
    visibility: hidden;
}
.next-page-style{
    display: flex;
    flex-direction: column;

}
.citation p{
    color:darkblue;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.next-page-style p{
     color:darkblue;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
 }
.quotes-parent {
    margin: auto;
    width: 50%;
}

.quotes-parent i {
    /*//new commit*/
    color: darkblue;
    font-size: 1.5rem;
    width: 30%;
    margin: auto;
    padding: 5px;


}

.grand-parent-header {

    display: flex;

    align-items: center !important;

    justify-content: space-between;
    margin-top: 3rem;
    align-content: center;
}

.header-parent {
/ / position: relative;
    max-height: 20rem;
    width: 30%;
    flex-grow: 3;
/ / align-self: center;
}

.toc_front {
    color: rebeccapurple;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 10px;
}

.shakespeare-img , .thomas-moore-img{

    align-self: stretch;
    max-height: 40rem;
/ / min-height: 20 rem;
    width: 30%;
    position: relative;
    overflow: hidden;

}

.shakespeare-img img, .thomas-moore-img img {
    width: auto;
    height: 100%;
    position: absolute;
    bottom: 0;
    display: block;

}
.thomas-moore-img img{
    left: 0;
}
.shakespeare-img img{
    right: 0;
}
.speaker {
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}
#next-page-archive-photo{
    margin: auto;
}
@media only screen and (max-width: 1205px) {
    /* Adjust styles for smaller screens */
    .grand-parent-header {
        gap: 3rem;
        flex-direction: column;
        justify-content: center;
    }

    .shakespeare-img, .thomas-moore-img {
        align-self: center;
        //max-height: 40rem;

        width: 60%;
        //height: 90vh;
        position: static;
        max-height: none;

        //overflow: hidden;

    }

    .header-parent {

        max-height: none;
        width: 60%;

    }

    .shakespeare-img img, .thomas-moore-img img {
        width: 100%;
        height: auto;
        position: static;


    }
.parent-article{
    width: 95%;
}

}

@media only screen and (max-width: 1150px) {
    /* Adjust styles for smaller screens */
    .parent-image {
        /*border: darkred 1px solid;*/
        float: none;
        width: 100%;
        margin: 2rem 0;
        position: static;
        overflow: hidden;
    }

    .parent-image img {
        width: 100%;
        min-width: 0;
        height: auto;
        max-height: 50vh;
        display: block;
        position: static;


    }


}

/*@media only screen and (max-width: 1200px) {*/

/*    .shakespeare-img,.thomas-moore-img, .header-parent {*/
/*        */
/*        !*width: 100%;*!*/
/*        !*height: auto;*!*/


/*    }*/

/*    .parent-article {*/
/*        width: 95%;*/
/*    }*/


/*}*/

@media only screen and (max-width: 800px) {
    /* Adjust styles for smaller screens */
    #first-link {
        width: 100%;
        padding: 2rem 0;
    }


}

@media only screen and (max-width: 600px) {
    /* Adjust styles for smaller screens */
 .header-parent,.editorial-intro, .thomas-moore-img, .shakespeare-img{
     width: 100%;
 }
    .index-stye{
        padding: 1rem;
    }
.nav-links{
    width: inherit !important;
}

}
.nav-links{
    width: 100%;
}

.transcription-section{
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
.citation-image{
    width: 100%;
}